extends ../layout/main

block mainVariables
	- pageTitle = 'Главная';
	- pageRootClass = 'home';
	- pageId = 'js-page-home'
	- activeNavIndex = 0

block mainContent
	include ../components/pages/home/intro
	include ../components/pages/home/brands
	#js-react-carousel



